.navParent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    margin: 1rem;
}

.ulParent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

li{
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* media queries for mobile*/

@media (max-width: 768px) {
    .navParent{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .ulParent{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: .5rem;
    }

}

