.navParent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    margin: 1rem;
}

.ulParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


